<script>
import Header from './components/layout/Header.vue';
import Footer from './components/layout/Footer.vue';

export default {
    name:'App',
    components: {
        Header,
        Footer
    }
}
</script>
<template>
    <Header/>
    <main class="container main-component">
        <router-view v-slot="{ Component, route }">
            <div class="w-100" :key="route.name">
                <Component :is="Component" />
            </div>
        </router-view>
    </main>
    <Footer/>
</template>