<script>
import { ref } from 'vue';

export default {
name: 'Footer',
setup() {
  let currentYear = ref(new Date().getFullYear());
  
  return { currentYear }
}
}
</script>
<template>
    <footer class="bg-transparent text-white text-center py-3 footer mt-5">
        <div class="container">
            <p class="mb-0">&copy; Viktor Gareski {{currentYear}}.</p>
        </div>
    </footer>
</template>