<script>
import { ref, watch } from 'vue';
import { useRoute, useRouter } from 'vue-router';

export default {
name: 'NavBar',
setup() {
    const route = useRoute();
    const router = useRouter();
    const showBackButton = ref(false);

    watch(route, (newRoute) => {
        showBackButton.value = newRoute.name !== 'Home';
    });

    function goBack() {
        router.back();
    };

    return {
        showBackButton,
        goBack
    };
}
}
</script>
<template>
    <nav class="navbar navbar-expand-md bg-transparent mb-2">
        <div class="container h-100 w-100">
            <a class="navbar-brand text-white brand-name" href="/"> 
                <font-awesome-icon class="text-primary" :icon="['fas', 'link']" />
                <b class="px-2">URL shortener</b>
            </a>
            <a v-if="showBackButton" @click="goBack" class="arrow-back text-white custom-link" href="#"> 
                <font-awesome-icon :icon="['fas', 'arrow-left']" />
                <span class="m-2">Back</span>
            </a>
        </div>
    </nav>
</template>