body {
    background: linear-gradient(90deg, #0f0c29 0%, #302b63 35%, #24243e 100%);
    color:#fff !important;
}

nav {
    height:90px;

    .brand-name {
        font-size: x-large;
    }
}

.custom-card {
    padding: 3rem;
}

.silver-bg {
    background-color: rgba(131,137,150,0.3) !important;
    border:none !important;
}

.custom-link,
.custom-link:focus,
.custom-link:hover {
    text-decoration: none;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width:100vw;
}

.main-component {
    flex-grow:1;
    display:flex;
    align-items: center;
}

.border-rounded {
    border-radius:25px !important;
}

.main-text {
    font-size:42px;
}


.pretend-url:hover {
    cursor:pointer;
    text-decoration: underline;
}

.form-control:hover, .form-control:active, .form-control:focus{
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

@media only screen and (max-width: 500px) {
    .custom-card {
        padding: 1rem 0.5rem;
    }
}