<script>
import axios from 'axios';
import { ref, onMounted, watch } from 'vue';

export default {
name: 'Home',
setup() {
  let url = ref('');
  let shortUrl = ref(null);
  let generatedHash = ref(null);
  let allUrls = ref([]);
  let validationError = ref(null);

  async function shortenUrl() {
    validationError.value = null;
    try {
      const response = await axios.post('/shorten', { url: url.value });
      shortUrl.value = response.data.unique_hash;
      generatedHash.value = response.data.hash;
      url.value = '';
    } catch (error) {
      if (error.response && error.response.status === 422) {
        validationError.value = error.response.data.message;
      } else {
        validationError.value = 'An unexpected error occurred.';
      }
    }
  }

  async function followLink() {
    try {
      const response = await axios.get(`/api/${generatedHash.value}`);
      if (response.status === 200) {
        window.open(response.data.original_url, "_blank");
      } 
    } catch (error) {
      if (error.response && error.response.status === 422) {
        validationError.value = error.response.data.message;
      } else {
        console.log('An unexpected error occured.');
      }
    }
  }
  
  watch(url, () => {
    validationError.value = null;
  });

  return { url, shortUrl, generatedHash, allUrls, validationError, shortenUrl, followLink };
}
};
</script>

<template>
  <h2 class="w-100 text-center text-white main-text mb-5">Shorten your links.</h2>
  <div class="card custom-card silver-bg w-100 border-rounded">
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <form @submit.prevent="shortenUrl">
          <div class="form-group">
            <div v-if="validationError" class="alert alert-danger mb-2 p-1" role="alert">
               <small>{{ validationError }}</small>
            </div>
            <input 
              name="url" 
              v-model="url" 
              type="text" 
              class="form-control border-rounded" 
              id="url-input" 
              placeholder="Enter your link here" 
              >
          </div>
          <div class="text-center w-100">
            <button type="submit" class="btn border-rounded bg-primary text-white mt-4">Short It Now!</button>
          </div>
        </form>
      </blockquote>
    </div>
  </div>
  <div v-if="shortUrl" class="custom card card silver-bg w-100 border-rounded mt-2">
    <div class="card-body">
      <h5 class="text-white">Your URL is ready!</h5> 
      <div>
        <span class="text-primary pretend-url" @click.prevent="followLink()">{{ shortUrl }}</span>
      </div>
    </div>
  </div>
</template>
